Connected Services/MaterialServiceReference/MaterialWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckDatabaseConnection">
        <s:complexType />
      </s:element>
      <s:element name="CheckDatabaseConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckDatabaseConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertMaterialInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MaterialID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MaterialName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertMaterialInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertMaterialInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchMaterial">
        <s:complexType />
      </s:element>
      <s:element name="searchMaterialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchMaterialResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMaterialName">
        <s:complexType />
      </s:element>
      <s:element name="getMaterialNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMaterialNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMaterialID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MaterialName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMaterialIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMaterialIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckDatabaseConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:CheckDatabaseConnection" />
  </wsdl:message>
  <wsdl:message name="CheckDatabaseConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:CheckDatabaseConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="insertMaterialInfoSoapIn">
    <wsdl:part name="parameters" element="tns:insertMaterialInfo" />
  </wsdl:message>
  <wsdl:message name="insertMaterialInfoSoapOut">
    <wsdl:part name="parameters" element="tns:insertMaterialInfoResponse" />
  </wsdl:message>
  <wsdl:message name="searchMaterialSoapIn">
    <wsdl:part name="parameters" element="tns:searchMaterial" />
  </wsdl:message>
  <wsdl:message name="searchMaterialSoapOut">
    <wsdl:part name="parameters" element="tns:searchMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="getMaterialNameSoapIn">
    <wsdl:part name="parameters" element="tns:getMaterialName" />
  </wsdl:message>
  <wsdl:message name="getMaterialNameSoapOut">
    <wsdl:part name="parameters" element="tns:getMaterialNameResponse" />
  </wsdl:message>
  <wsdl:message name="getMaterialIDSoapIn">
    <wsdl:part name="parameters" element="tns:getMaterialID" />
  </wsdl:message>
  <wsdl:message name="getMaterialIDSoapOut">
    <wsdl:part name="parameters" element="tns:getMaterialIDResponse" />
  </wsdl:message>
  <wsdl:portType name="MaterialWebServiceSoap">
    <wsdl:operation name="CheckDatabaseConnection">
      <wsdl:input message="tns:CheckDatabaseConnectionSoapIn" />
      <wsdl:output message="tns:CheckDatabaseConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertMaterialInfo">
      <wsdl:input message="tns:insertMaterialInfoSoapIn" />
      <wsdl:output message="tns:insertMaterialInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searchMaterial">
      <wsdl:input message="tns:searchMaterialSoapIn" />
      <wsdl:output message="tns:searchMaterialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMaterialName">
      <wsdl:input message="tns:getMaterialNameSoapIn" />
      <wsdl:output message="tns:getMaterialNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMaterialID">
      <wsdl:input message="tns:getMaterialIDSoapIn" />
      <wsdl:output message="tns:getMaterialIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MaterialWebServiceSoap" type="tns:MaterialWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckDatabaseConnection">
      <soap:operation soapAction="http://tempuri.org/CheckDatabaseConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertMaterialInfo">
      <soap:operation soapAction="http://tempuri.org/insertMaterialInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchMaterial">
      <soap:operation soapAction="http://tempuri.org/searchMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaterialName">
      <soap:operation soapAction="http://tempuri.org/getMaterialName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaterialID">
      <soap:operation soapAction="http://tempuri.org/getMaterialID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MaterialWebServiceSoap12" type="tns:MaterialWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckDatabaseConnection">
      <soap12:operation soapAction="http://tempuri.org/CheckDatabaseConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertMaterialInfo">
      <soap12:operation soapAction="http://tempuri.org/insertMaterialInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchMaterial">
      <soap12:operation soapAction="http://tempuri.org/searchMaterial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaterialName">
      <soap12:operation soapAction="http://tempuri.org/getMaterialName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaterialID">
      <soap12:operation soapAction="http://tempuri.org/getMaterialID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaterialWebService">
    <wsdl:port name="MaterialWebServiceSoap" binding="tns:MaterialWebServiceSoap">
      <soap:address location="https://localhost:44306/MaterialWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MaterialWebServiceSoap12" binding="tns:MaterialWebServiceSoap12">
      <soap12:address location="https://localhost:44306/MaterialWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>